body {
  font-family: 'Quicksand', Times, serif;
  background-image: url(../images/typewriter.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  font-size: 15px;
}

.navbar {
  border-radius: 2px;
}

.navbar-brand {
  font-size: 40px;
}

.searchTags {
  padding: 5px;
  font-size: 15px;
  border-radius: 2px;
}

.searchSubmit {
  font-size: 15px;
  border-radius: 2px;
}

#userlink {
  font-size: 15px;
}

a {
  font-size: 15px;
}

.sign {
  margin-top: 8px;
  font-size: 15px;
  margin-left: 5px;
}

#signout-btn {
  margin-top: 8px;
  font-size: 15px;
  border-radius: 2px;
}

