body {
  font-family: 'Quicksand', cursive, Times, serif;
  background-image: url(../images/stardust.png);
  font-size: 15px;
}

.navbar-brand {
  font-size: 40px;
}

.searchTags {
  padding: 5px;
  font-size: 15px;
}

.searchSubmit {
  font-size: 15px;
}

#userlink {
  font-size: 15px;
}

a {
  font-size: 15px;
}

#signout-btn {
  margin-top: 8px;
  font-size: 15px;
}