<div id="home-page">
  <h2 id="page-title">JournALL</h2>

    <div class="mainarea" class="col-xs-12">
    <div class="error"></div>
    <div class="popularArea col-xs-8"></div>
    <h3>Most Popular</h3>
    <div class="popularUser col-xs-4"></div>

    <div class="recentArea col-xs-12"><h3>Most Recent</h3></div>
    </div>

    <div class="modal fade" id="viewPost" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title oneTitle"></h4>
          </div>
          <div class="modal-body">
            <p class="oneBody"></p>
          </div>
          <div class="modal-footer">
            <div id="favorite-form-message"></div>
            <button type="button" class="btn btn-primary" id="like"><i class="fa fa-heart"></i> Favorite</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <button type="button" class="close alert" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

</div>

<script src="/public/js/pages/home.js"></script>
<link rel="stylesheet" href="/public/css/pages/home.css">
