<script src="/public/js/pages/profile.js"></script>
<link rel="stylesheet" href="/public/css/pages/profile.css">

<div class="mainarea">
<div id="profile-page">
  <div id="userInformation">
    <h1><%= user.username %></h1>
    <h4>Likes: <%= user.favorite %></h4>
    <h4> Journal entries: <%= user.entries %></h4>
  </div>
  <div id="ownEntry">
    <button class ="btn btn-default" data-toggle="modal" data-target="#create-modal">Create Journal</button>
  </div>
</div>

<!--button to show posts and favorite-->
<div class="col-xs-12 buttonsProfile">
  <button id="userPosts">Journals</button>
  <button id="userFavorites">Favorites</button>
</div>

<div id="userPostsFavorites">
</div>



<div class="ownMostRecent"></div>

<!-- modal for showing individual post-->
<div class="modal fade" id="viewOwnPost" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title title"></h4>
      </div>
      <div class="modal-body">
        <p class="body"></p>
      </div>
      <div class="modal-footer">
        <div class="foot">
          <button type="button" class="btn btn-default editPost">Edit</button>
          <button type="button" class="btn btn-default deletePost">Delete</button>
          <button type="button" class="btn btn-primary" class="like"><i class="fa fa-heart"></i> Favorite</button>
        </div>
        <button type="button" class="btn btn-default closeOne" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- modal to create journal -->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create Journal</h4>
        </div>
        <div class="modal-body">
          <div id="createJournal-page">

            <form id="createJournal">
              <p><input type="text" name="title" placeholder="title"></p>
              <p><input type="text" name="tags" placeholder="tags (separate by comma)"></p>
              <p><input type="text" name="journal" id="entryInput" placeholder="journal"></p>
              <p><input type="submit" name="create journal" class="btn btn-default"></p>
            </form>

            <div id="create-form-message"></div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- edit modal//not yet showing the actual journal that needs to be edited -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Journal</h4>
        </div>
        <div class="modal-body">
          <div id="editJournal-page">

            <form id="editJournal">
              <p>Title: <input type="text" id="edit-title" name="title" placeholder="title"></p>
              <p>Tags: <input type="text" id="edit-tags" name="tags" placeholder="tags (separate by comma)"></p>
              <p>Journal: <input type="text" id="edit-journal" name="journal" id="entryInput" placeholder="journal"></p>
              <p><input type="submit" name="edit journal" class="btn btn-default"></p>
            </form>

            <div id="create-form-message"></div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

